

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>I am a Fullstack developer with 13 years of experience in backend frontend and database management. 
            I have more than 10 years of experience in ERP systems, E-Commerce systems and CRM systems. 
            I hope my experience will support your business to develop even more.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="assets/img/profile-img.webp" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Fullstack Developer.</h3>
          <div class="row pt-3">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>28 Jan 1983</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+66909442826</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chiang Mai, Thailand </span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>39</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jakkritt26@gmail.com</span></li>
              </ul>
            </div>
            <div class="col-lg-12">
                <i class="bi bi-chevron-right" style="color: #0563bb;"></i> <strong>Location:</strong> <span>128/33 M.6 T.Baanwan A.Hangdong Chiangmai Thailand</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->