<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Jakkrit Prasert</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Fullstack Developer, Freelance"></span></p>
      <br>
      <span class="pt-5">Developed by Nodejs , Bootstrap 5</span>
      <br>
      <span>Design by <a href="https://bootstrapmade.com" target="_blank">bootstrapmade.com</a></span>
    </div>
  </section><!-- End Hero -->
