<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <p><img src="/assets/img/personal_pic.png" width="250"></p>
      <h1 class="pt-3">Jakkrit Prasert</h1>
      <p>I'm <span class="typed" data-typed-items="Fullstack Developer, Freelance"></span></p>
      
      <div class="social-links">
        <a href="tel:+66909442826" target="_blank"><i class="bx bx-phone"></i> </a>
        <a href="https://www.linkedin.com/in/jakkrit-prasert-321abaa4/"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="mailto:jakkritt26@gmail.com" target="_blank"><i class="bx bx-mail-send"></i> </a>
      </div>
    </div>
  </section><!-- End Hero -->
