<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Jakkrit Prasert</h4>
                    <p><em>Fullstack Developer</em></p>
                    <ul>
                        <li>128/33 M.6 T.Baanwan A.Hangdong Chiangmai, Thailand</li>
                        <li>(+66) 0909442826</li>
                        <li>jakkritt26@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor's degree</h4>
                    <h5>2005 - 2008</h5>
                    <p><em>Payap University Chiangmai</em></p>
                    <p>Computer Science</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>SENIOR FULL STACK DEVELOPER</h4>
                    <h5>Aug 2021 - Present</h5>
                    <p><em>Be Your Tech </em></p>
                    <p><em>Bullsphere </em></p>
                    <ul>
                        <li>Develop frontend and backend CRM system.</li>
                        <li>Database design .</li>
                        <li>PHP (Laravel, Codeigniter 4), Javascript (Nextjs , Nestjs) , Mysql, Redis</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>SENIOR FULL STACK DEVELOPER</h4>
                    <h5>FEB 2021 - AUG 2021</h5>
                    <p><em>Ratchanikorn Intertrade</em></p>
                    <ul>
                        <li>Develop frontend and backend CRM , E-Commerce system.</li>
                        <li>Database Design.</li>
                        <li>Lead Team.</li>
                        <li>Javascript (Nextjs , Nestjs, Rectjs) , Postgres, MongoDBi</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>FULL STACK DEVELOPER</h4>
                    <h5>APRIL 2020 - JAN 2021</h5>
                    <p><em>Grit Technology</em></p>
                    <ul>
                        <li>Develop frontend and backend CRM , E-Commerce system.</li>
                        <li>Database design.</li>
                        <li>PHP (Laravel), Javascript (Angularjs ) , Mysql</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>WEB DEVELOPER</h4>
                    <h5>JUNE 2012 – SEP 2019</h5>
                    <p><em>Santiphap Trading</em></p>
                    <ul>
                        <li>Develop frontend and backend CRM , E-Commerce system.</li>
                        <li>Database Design.</li> 
                        <li>PHP , Javascript , Mysql</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>WEB DEVELOPER Freelance</h4>
                    <h5>JUNE 2008 – Present</h5>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->